@model IEnumerable<CarRentalApp.Models.RenterModel>

@{
    // var genre = Request.Form["genre"];
    // var url = $"/Book/Genre/{genre}";
    ViewData["Title"] = "All Renters";
}

<h2>@ViewData["Title"]</h2>
<h4>List of all renters:</h4>

<table class="table">
    <thead>
        <tr>
            <th>RenterId</th>
            <th>FName</th>
            <th>LName</th>
			<th>Address</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>ZipCode</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reader in Model)
        {
            <tr>
                <td>@reader.RenterId</td>
                <td>@reader.FName</td>
                <td>@reader.LName</td>
                <td>@reader.Address</td>
                <td>@reader.PhoneNumber</td>
                <td>@reader.Email</td>
                <td>@reader.ZipCode</td>
				<td>
					<!-- Update link -->
					<a asp-controller="Renter" asp-action="UpdateRenter" asp-route-id="@reader.RenterId" class="mb-1 btn btn-primary">Update</a>
					<!-- Delete form -->
				
					<form asp-controller="Renter" asp-action="DeleteRenter" asp-route-id="@reader.RenterId" method="post" onsubmit="return confirm('Are you sure you want to delete this renter?');">
						<button type="submit" class="btn btn-danger mb-1">Delete</button>
					</form>
					<a asp-controller="Renter" asp-action="GetRenterById" asp-route-id="@reader.RenterId" class="mb-1 btn btn-primary">See Renter By ID</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Add New Book button -->
<a asp-controller="Renter" asp-action="AddRenter" class="btn btn-success mb-1">Add New Renter</a>

<form asp-action="GetRentersByZipCode" method="get" asp-controller="Renter">
	<div class="mb-1">
		<label>Search by Zip Code</label>
		<input type="text" name="zipcode" />
		<input type="submit" value="Search" />
	</div>
</form>

<form asp-action="GetRenterById" method="get" asp-controller="Renter">
	<div class="mb-1">
		<label>Search by Renter ID</label>
		<input type="text" name="id" />
		<input type="submit" value="Search" />
	</div>
</form>



@if (TempData["Warning"] != null)
{
    <div class="alert alert-warning">
        @TempData["Warning"]
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}