@model CarRentalApp.Models.LoginModel
@using CarRentalApp.Models

@{
    ViewData["Title"] = "Login Page";
    ViewData["Title2"] = "Enter Login Credentials Below";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2>@ViewData["Title"]</h2>
            <p>@ViewData["Title2"]</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in ViewBag.Users)
                    {
                        <tr>
                            <td>@user.Username</td>
                            <td>@user.Password</td>
                            <td>@user.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="mt-4">
                <form asp-action="Authenticate" method="post">
                    <div class="form-group mb-3">
                        <label asp-for="Username">Username:</label>
                        <input asp-for="Username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Password">Password:</label>
                        <input asp-for="Password" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Login" />
                </form>
            </div>
        </div>
    </div>
</div>